body {
    padding: 0;
    margin: 0;
}
.charm {
    position: fixed;
    bottom: 5px;
    left: -23px;
    height: 45px;
    background: #2e3b40;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 5px #222;
    z-index: 9999;
}
.charm-btn {
    width: 45px;
    height: 45px;
    cursor: pointer;
    position: relative;
    float: right;
    margin: 0;
}
.charm-btn.small {
    width: 30px;
    height: 30px;
    position: absolute;
    top: 0;
    right: 0;
}
.charm-btn img {   
    display: block;
    margin: 30%;
    width: 40%;
    height: 40%;
}
.charm-btn.less-padding img {
    display: block;
    margin: 25%;
    width: 50%;
    height: 50%;
}
.email-container {
    position: fixed;
    overflow: hidden;
    bottom: 5px;
    left: -450px;
    background: white;
    height: 400px;
    width: 400px;
    z-index: 9999;
    border-radius: 0 5px 5px 0;
    box-shadow: 0 0 10px #222;

    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.email-container.small {
    height: 250px;
}
.email-container.expanded {
    left: 0;
}
.email-container.collapsed {
    left: -450px;
}
.email-container iframe {
    position: absolute;
    top: 30px;
}
.email-header {
    position: absolute;
    background-color: #2e3b40;
    box-sizing: border-box;
    color: white;
    font-size: 15px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 5px;
    height: 30px;
    width: 100%;
}
.email-footer {
    position: absolute;
    bottom: 0;
    background-color: #2e3b40;
    height: 45px;
    width: 100%;
    box-shadow: 0 0 10px #222;
}
.message-container {
    position: absolute;
    bottom: -155px;
    width: 100%;
    max-height: 200px;
    padding-bottom: 10px;
    background: white;
    overflow: scroll;
    box-shadow: 0 0 10px #222;
    box-sizing: border-box;
    -webkit-transition: 0.3s ease-in-out;
    transition: 0.3s ease-in-out;
}
.message-container div {
    font-size: 15px;
    box-sizing: border-box;
    padding: 5px;
    height: 25px;
    width: 100%;
    cursor: pointer;
}
.message-container.expanded {
    bottom: 45px;
}
.message-container.collapsed {
    bottom: -155px;
}

.slideInCharm {
    left: -45px;
    width: 45px;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

@-webkit-keyframes slide {
    100% { left: -23px; }
}

@keyframes slide {
    100% { left: -23px; }
}