@-webkit-keyframes fadeInCharm {
    from {opacity: 0}
    to {opacity: 1}
}

@keyframes fadeInCharm {
    from {opacity: 0}
    to {opacity: 1}
}

.fadeInCharm {
    -webkit-animation: fadeInCharm 0.3s;
    animation: fadeInCharm 0.3s;
    opacity: 1;
}

.slideInCharm {
    left: -45px;
    width: 45px;
    -webkit-animation: slide 0.5s forwards;
    animation: slide 0.5s forwards;
}

.slideInCharmFull {
    left: -23px !important;
    -webkit-animation: slideFull 0.2s forwards;
    animation: slideFull 0.2s forwards;
}

@-webkit-keyframes slide {
    100% { left: -23px; }
}

@keyframes slide {
    100% { left: -23px; }
}

@-webkit-keyframes slideFull {
    100% { left: 0; }
}

@keyframes slideFull {
    100% { left: 0; }
}